.draggableStudy{
    text-align: center;
    min-height: 50px;
    margin-left: 2%;
    width: 96%;
    margin-top: 4px;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #636363;
    color: rgb(0, 0, 0);
    font-family: Tahoma;
    border-radius: 4px;
    box-shadow: 2px 2px 1px #6c6b6b;
    z-index: 5;
}

.qualificationUnitsContainer{
    display: flex;
    flex-direction: column;
    align-Items: center;
    margin-Top: 50px;
    background-Color: #E0E0E0;
    border: 1px solid lightGrey;
    height: 335px;
    width: 170px;
    z-index: 1;
}

.periodContainer{
    display: block;
    flex-direction: column;
    position: relative;
    margin-top: -15px;
}

.qualificationHidden{
    display: none;
}

.qualificationUnits{
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #2c2b2b;
    background-color: #ffffff;
    width: 150px;
    height: 285px;
    margin-top: 40px;
    position: relative;
    border-top: 0px solid transparent;
}

.qualificationUnitsHidden{
    display: none;
}

.droppablePeriod{
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 2px 1px 5px #1b1a1a;
    width: 150px;
    height: 256px;
    margin-inline: 1%;
    margin-top: -5%;
    margin-bottom: -20px;
}

.resetButton{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 13px;
    font-weight: bold;
    font-family: Tahoma;
    color: #DCDCDC;
    background-Color: #008080;
    position: absolute;
    z-index: 3;
}

.studyButton{
    height: 31px;
    width: 84px;
    
    border: 2px solid rgb(59, 134, 255);
    border-bottom: 0px solid transparent;
    font-size: 11px;
    color: #000000;
    font-family: Tahoma;
    font-weight: bold;
    background-Color: #ffffff;
    position: absolute;
    margin-top: 69px;
    border-radius: 10px;
    z-index: 2;
}

.nonActiveStudyButton{
    height: 31px;
    width: 84px;
    border: 2px solid rgb(118, 116, 116);
    border-bottom: 0px solid transparent;
    font-size: 11px;
    color: #DCDCDC;
    font-family: Tahoma;
    background-Color: #383838;
    position: absolute;
    margin-top: 69px;
    border-radius: 10px;
    z-index: 2;
}