.draggableStyle {
    background-color: lightgreen;
    height: 30px;
    margin: 5px;
    text-align: center;
    font-size: x-small;
    width: 92%;
    border: 2px;
    border-color: black;

}

 .studiesList {
    overflow-y: scroll;
    
    border: 1px;
    border-color: black;
    width: 18%;
    position: absolute;
    margin-top: 100;
    margin-left: 2;
    margin-bottom: 2;
 }